<div>
    <div>
        <br>
        <label>Cars to display: </label>
        <select [(ngModel)]="viewType" (ngModelChange)="onViewTypeChange($event)">
            <option value="All">All</option>
            <option value="Class">Class</option>
        </select>
    </div>
    
    <div *ngIf="viewType === 'Class'">
        <div>
            <br>
            <label>Class: </label>
            <a *ngFor="let cls of carClass()" href="javascript:void(0)" (click)="onSelectCarClassChange(cls)">
                {{cls}}&nbsp;
            </a>
        </div>
    </div>

    <div class="table-container" *ngIf="carList().length > 0">
        <table class="car-table" name="car-table">
            <thead>
                <tr>
                    <th>Car Name</th>
                    <th>Rarity</th>
                    <th>Max Stars</th>
                    <th>Top Speed</th>
                    <th>Acceleration</th>
                    <th>Handling</th>
                    <th>Nitro</th>
                    <th>Requires Key</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of carList()">
                    <td>{{car.name}}</td>
                    <td>{{car.rarity}}</td>
                    <td>{{car.maxStars}}</td>
                    <td>{{car.topSpeed}}</td>
                    <td>{{car.acceleration}}</td>
                    <td>{{car.handling}}</td>
                    <td>{{car.nitro}}</td>
                    <td>{{car.requiresKey}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="empty-message" *ngIf="carList().length === 0">
        No cars available. Select "All" or choose a class to load vehicles.
    </div>
</div>
